
*{
    box-sizing: border-box;
}

header{
    display: flex;
    background-color:white;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    color: rgb(95, 175, 200);
}
.logo{
    display: flex;
    align-items: center;

}
.logo img{
    height: 70px;
}
body{
    background-color: #008080;
    margin: 0;
}
nav a{
    float: right;
    color: rgb(20, 23, 20);
    padding-right: 10px;
    font-weight: 600;
    padding-right:10px ;
    text-decoration: none;
}
nav a:hover{
color:rgb(7, 168, 47);
background-color:blanchedalmond;
}
.h2{
    text-align: center;
}
 /*desde acà comiensa la barra hirizontal*/
.topnav{
    overflow: hidden;
    background-color: rgb(210, 127, 255);
}
.topnav a {
    float: left;
    display: block;
    color:rgb(7, 7, 7);
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: blanchedalmond;
    justify-content: space-between;
    color: rgb(19, 120, 19);
}
/* desde acà comienza el contenido en columnas de tres*/
.column{
    float: left;
    width: 33.33%;
    padding: 15px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width:600px) {
    .column{
    width: 100%;
    }
}
/*màs imagenes, cartas y pie de pagina*/
.leftcolumn{
    float:left;
    width: 75%;
}
.rightcolumn{
    float: left;
    width: 25%;
   
    padding-left: 20px;
}
.fakeimg{
background-color: #ee82ee;
width: 100%;
padding: 20px;
}
.card{
background-color: rgb(208, 201, 205);
padding: 20px;
margin-top: 20px;
}
.row:after{
content:"" ;
display: table;
clear: both;
}
.footer{

    padding: 20px;
    text-align: center;
    background-color: rgb(210, 127, 255);
    margin-top: 20px;
}
@media screen and (max-width: 300px)  {
.leftcolumn, .rightcolumn{
    width: 100%;
    padding: 0;
}
}
@media screen and (max-width:150px){
    .topnav a {
        float: none;
        width: 100%;
    }
}
